<table class="user-listing">
  <tr>
    <th>Email</th>

    <% if current_user.admin? %>
      <th>Actions</th>
    <% end %>

    <th>Gender</th>
    <th>Age</th>
    <th>Points of Interests</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <% if user.email %>
        <td><%= user.email %></td>
      <% end %>

      <% if current_user.admin? %>
        <td><%= link_to '', home_path(user), method: :delete, class: 'glyphicon glyphicon-trash' %></td>
        <% end %>

      <% if user.gender %>
        <td><%= user.gender %></td>
      <% end %>

      <% if user.age %>
        <td><%= user.age %></td>
      <% end %>

      <% if user.points_of_interests.any? %>
        <% user.points_of_interests.each do |points_of_interest| %>
          <td><%= points_of_interest.points %></td>
        <% end %>
      <% end %>
  <% end %>
</table>

<% if current_user.admin? %>
  <%= link_to 'Navigate to the admin panel', admin_users_path %>
<% end %>
