<%= search_form_for @q, url: home_index_path do |f| %>
  <%= f.label :email_cont %>
  <%= f.search_field :email_cont, class: 'form-control', placeholder: 'Search...' %>
<% end %>

<table class="user-listing">
  <tr>
    <th>Email</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Points of Interests</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.gender %></td>
      <td><%= user.age %></td>

      <td>
        <% if user.points_of_interests.any? %>
          <% user.points_of_interests.each do |points_of_interest| %>
            <%= points_of_interest.points %>
          <% end %>
        <% end %>
      </td>

      <td>
        <%= link_to '', send_email_home_index_path(user_id: user.id), method: :post, class: 'glyphicon glyphicon-envelope' %>

        <% if current_user.admin? %>
          <strong>/</strong>
          <%= link_to '', home_path(user), method: :delete, class: 'glyphicon glyphicon-trash' %>
        <% end %>
      </td>
  <% end %>
</table>

<% if current_user.admin? %>
  <%= link_to 'Export to CSV', "#{home_index_path}.csv", class: 'btn btn-primary' %>
  <%= link_to 'Navigate to the admin panel', admin_users_path %>
<% end %>
